!!! 5
%head

%body
  %header.right.full
    %a(href="http://ianfleming.me/taiga")
      .h1.px4 TAIGA
    %p.time.px4
  %section.mx1
    .wrap
      %textarea#note-area
      .toolbar.full
        .toggle__outer
          .toggle
        .toggle__label VIM MODE


%link(rel="stylesheet" href="taiga.css")
%script(type="text/javascript" src="taiga-all.js")
